[Desktop Entry]
Name=Trigger Menu Editor
GenericName=Level-1 Trigger Menu Editor
Comment=Edit trigger menu XML files
Exec=/usr/bin/tm-editor
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/tm-editor.svg
MimeType=application/x-uml;
Categories=Development;

